<!--The content below is only a placeholder and can be replaced.-->
<div class="bg">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="../assets/images/icon-a.png" width="30" height="30" alt=""></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> หน้าแรก</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-leaf"></span> เกี่ยวกับเรา</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-folder-open"></span> ผลงาน</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-globe"></span> ติดต่อเรา</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> สมัครสมาชิก</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> เข้าสู่ระบบ</a></li>
    </ul>
  </div>
</nav>
<div style="text-align:center">
  <h1 class="w3-myfont"><link href="https://fonts.googleapis.com/css?family=Mali&display=swap" rel="stylesheet">
    นี่คือ Port folio ของ {{ title }}
  </h1>
  <br>
  <img width="300" alt="Andrew Logo" src="../assets/images/1234.png">
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
</div>
